[submodule "FlashRAG"]
	path = FlashRAG
	url = git@github.com:ninehills/FlashRAG.git
[submodule "agent-lightning"]
	path = agent-lightning
	url = git@github.com:microsoft/agent-lightning.git
[submodule "verl"]
	path = verl
	url = https://github.com/volcengine/verl.git
